# Git
.git
.gitignore

# Node
node_modules

# Composer
vendor

# Laravel - DO NOT copy .env into Docker image!
.env
.env.*
!.env.example

storage/framework/sessions/*
storage/framework/cache/data/*
storage/logs/*.log
bootstrap/cache/*.php